*{
  padding: 0;
  margin: 0;

text-align: center;

  --boxshadow: 1px 3px 17px -4px var(--trans_brown);
}
.darktheme {
  --primary-color: rgb(9, 8, 28);
  --secudairy-color: orange;
  --tertiaty-color: orange;

  --green: #0E3523;
  --red: #47211C;
  --orange: #7E4F34;
  --trans_brown: rgba(34, 25, 9, 0.541);
  --brown: rgb(34, 25, 9);
  --beige: rgb(182, 174, 159);
  --beige_trans: rgba(134, 126, 109, 0.329);
  --beige_trans2: rgba(221, 215, 204, 0.466);
  --yellow: rgb(167, 167, 39);

  --blue: rgb(36, 36, 71);

  background-image: url("/src/images/daria-kraplak-d34DtRp1bqo-unsplash.jpg");
}

.lighttheme {
  --primary-color: rgb(9, 8, 28);
  --secudairy-color: orange;
  --tertiaty-color: orange;

  --green: #6b815f;
  --red: #b34040;
  --orange: #a85d32;
  --trans_brown: rgba(136, 131, 122, 0.541);
  --brown: rgb(202, 186, 157);
  --beige: rgb(231, 228, 220);
  --beige_trans: rgba(211, 207, 197, 0.575);
  --beige_trans2: rgba(221, 215, 204, 0.726);
  --yellow: rgb(223, 223, 146);

  --blue: #636681;

  background-image: url("/src/images/florian-klauer-mk7D-4UCfmg-unsplash.jpg");
}

.blue {
    background-color: var(--blue);
}

.green {
    background-color: var(--green) !important;
}
.red {
    background-color: var(--red);
}
.orange {
    background-color: var(--orange);
}

.yellow {
  background-color: var(--yellow);
}

.unknown {
  border: 1px solid var(--blue);
}

.detailContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.detailpage {
  height: 100%;
  width: 70vw;

  z-index: 6;
}
.popuppage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 6;
}
/*
body{
    background-color: rgb(30, 30, 95);
    background-color: rgb(69, 69, 136); 
    font-family: "Open Sans", sans-serif;
    margin: 10px 0;

     background-color: rgb(14, 14, 32); 

     background-image: url("/Users/rhanna/Documents/School 2022-2023/Mobdev/Opdracht - Whats a students to do/src/images/henry-be-TCsCykbwSJw-unsplash.jpg"); 
} */

 /* Variabelen */


 /* Navigatie */

header {
  position: fixed;
  height: 5rem;
  width: 100vw;
  background-color: var(--trans_brown);

  display: flex;
  justify-content: center;
  align-items: center;
}

 nav {
    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    width: 7rem;
    background-color: var(--trans_brown);
    

    display: flex;

    justify-content: center;
    align-items: center;

    z-index: 2;

}

nav ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    min-height: 50%;

    /* width: 70%; */
    /* background-color: aliceblue; */
}

@media (max-width: 768px) {
  nav {
    position: fixed;
    left: 0;
    bottom: -50px;
    height: 3rem;
    width: 100vw;
  }

  nav ul {

    flex-direction: row;

    min-width: 50%;

    width: 2rem;
    align-self: center;
  }
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--beige);
}

.loginContainer,
.registerContainer {
  height: 100vh;
  width: 100vw;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
}

.loginContainer form {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginContainer form input{
  margin: 10px;
}

  /* Projects */



*{
    padding: 0;
    margin: 0;
  }
  
  body{
    /*background-color: rgb(30, 30, 95);*/
    /* background-color: rgb(167, 167, 182);
    font-family: "Open Sans", sans-serif; */
    background-color: var(--brown);

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  main {
    display: flex;
  }

  h1{
    color: wheat;
  }
  

  
  .delete-btn{
    outline: none;
    cursor: pointer;
  }
  
  #addTodoListDiv{
    margin-left: 2em;
    margin-top: 4em;
  }
  
  #addTodoListDiv button{
    margin-left: 0.5em;
  }
  
  
  #root{
    margin: 1em;
    /*border: 1px solid grey;*/
    display: flex;
    width: 100vw;

    flex-direction: column;
    gap: 10px;
  }
  
  .projectContainer {
    width: 100%-8rem;

    padding: 0.5rem;
    margin-left: 1rem;

    background-color: var(--beige_trans);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .inviteAndNew {
    width: 100%;

    display: flex;
  }

  .inviteAndNew > div {
    width: 50%;

    padding: 0.5rem;
    margin: 1rem 0 1rem 1rem;
    /* margin-right: 0; */

    background-color: var(--beige_trans);
  }

  .projectsContainer{

    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    /* margin-top: 5rem;
    margin-right: 3rem; */
    margin: 5rem 3rem 0 7rem;
  }

  .todoList{
    position: relative;

    border-radius: 4px;

    background: var(--beige_trans2);
    padding: 0.7em;
    margin: 1em 0 1em 1em;
  
    width: 25%;
    height: auto;
    max-height: 15rem;
    /* float: left; */
    /* min-width: 300px; */

    overflow: scroll;
    /* height: 80vh; */
  }
  
  .todoList h2{
    font-size: 1em;
    margin-bottom: 0.5em;
  }
  
  #to-do-list-button{
    margin-left: 0.5em;
  }
  
  .card{
    /*border: 1px solid blue;*/
    border-radius: 4px;
    border-bottom: none;
    box-shadow: var(--boxshadow);
    background: var(--beige_trans);
    margin: 0.5em 0;
    padding: 0.5em;
    font-size: 0.9em;
    position: relative;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  
    cursor: pointer;

    /* width: 80%; */
    /* min-width: 20rem; */
  }
  
  .card button{
    visibility: hidden;
    height: max-content;
  
    background: none;
    border: none;
    padding: 0.3em;
    
  }
  
  
  .card:hover button{
    visibility: visible;
  }
  
  .card button:hover{
    background-color: rgb(235, 235, 235);
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  .menuContainer{
    display: flex;
  
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;

    overflow-x: hidden;
  }
  
  .menu{
    top: 0;
    left: 0;
    background-color: rgb(235, 235, 235);
    width: 500px;
    min-height: 300px;
  
    margin: auto;
  
    padding: 1em;
    border-radius: 4px;
    
  }
  
  .menuTitle{
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  
  .menuDescription{
    margin-bottom: 2em;
    line-height: 1.5em;
  }
  
  .menuDescription textarea{
    width: 100%;
    height: 5em;
    padding: 0.5em;
    font-size: 1.1em;
  }
  
  
  
  .comment{
    background-color: var(--beige_trans);
    /* border: 1px solid var(--trans_brown); */
    border: none;

    border-radius: 4px;
    margin-top: 0.5em;
    padding: 0.5em;
    font-size: 0.8em;
  }
  
  .commentsInput{
    margin-right: 0.5em;
  }
  
  .btn-save{
    background-color: var(--green);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5em;
    margin-top: 0.5em;
    
  }
  
  .delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: transparent;
    border: none;
    box-shadow: 0px 10 10px 10px rgba(0, 0, 0, 0.25);
    width: 25px;
    height: 25px;
  }
  
  /* .delete-btn {
    width: 150px;
    height: 150px;
    box-shadow: 0px 10 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background: #000;
    left: 50%;
    top: 50%;
    margin-top: -75px;
    margin-left: -75px;
    position: absolute;
    display: block;
    z-index: 200;
    text-indent: -9999px;
  } */
  .delete-btn:before,
  .delete-btn:after {
    content: '';
    width: 55%;
    height: 2px;
    background: var(--red);
    position: absolute;
    top: 48%;
    left: 22%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .delete-btn:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .delete-btn:hover:before,
  .delete-btn:hover:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .flex {
    display: flex;
  }

  .memberDiv {
    padding: 5px 10px;
    margin: 2px;
    border-radius: 5px;

    width: 33%;
  }

  .todoDiv {
    padding: 5px 10px;
    margin: 2px;
    border-radius: 5px;
    background-color: var(--beige_trans);
    width: auto;
  }

  
  .addMember {
    padding: 2px 5px;
    margin: 2px;
    border-radius: 3px;
    border: 1px solid blue;

  }


  .hidden {
    display: none;
  }